/*================================
=            SETTINGS            =
================================*/

@import "settings";
@import "mixins";
@import "functions";
@import "variables";

@import "normalize";

@import "breakpoints";
@import "grid";
@import "default";
@import "icons";

@font-face {
    font-family: "SF-Pro-Display-Bold";
    src: url('../assets/fonts/SF-Pro-Display-Bold.otf');
}

@font-face {
    font-family: "SF-Pro-Display-Medium";
    src: url('../assets/fonts/SF-Pro-Display-Medium.otf');
}
@font-face {
    font-family: "SF-Pro-Display-Regular";
    src: url('../assets/fonts/SF-Pro-Display-Regular.otf');
}
@font-face {
    font-family: "SF-Pro-Text-Bold";
    src: url('../assets/fonts/SF-Pro-Text-Bold.otf');
}

@font-face {
    font-family: "SF-Pro-Text-Medium";
    src: url('../assets/fonts/SF-Pro-Text-Medium.otf');
}
@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url('../assets/fonts/SF-Pro-Text-Regular.otf');
}


// @import "tipstyle";

$z-indexes: ();

/*=====  End of SETTINGS  ======*/


/*===============================
=            GENERAL            =
===============================*/

body {
  
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: #000000;
}


.hidden-md {
    @include md {
        display: none;
    }
}

.visible-sm {
    display: none;

    @include sm {
        display: block;
    }
}

.visible-md {
    display: none;

    @include md {
        display: block;
    }
}

.section {   
    overflow: hidden;
    &--header {
        margin-top: 0;
        text-align: center;

        @include md {
            text-align: left;
        }
    }
}

.slide {
    background: {
        position: center;
        size: cover;
    }
    color: #fff;
    height: 100%;
    position: relative;

    @include md {
        height: 100%;
    }
}

pre[class*=language-] {
    border-radius: 0;
    max-height: 100%;
    overflow-y: auto;

    @include lg {
        height: 100%;
    }
}



/*=====  End of GENERAL  ======*/