/*================================
=            SETTINGS            =
================================*/

@import "settings";
@import "mixins";
@import "functions";
@import "variables";

@import "normalize";

@import "breakpoints";
@import "grid";
@import "default";
@import "icons";

$z-indexes: ();

/*=====  End of SETTINGS  ======*/


/*===============================
=            GENERAL            =
===============================*/

body {
    color: $dark;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-weight: 300;
}



.hidden-md {
    @include md {
        display: none;
    }
}

.visible-sm {
    display: none;

    @include sm {
        display: block;
    }
}

.visible-md {
    display: none;

    @include md {
        display: block;
    }
}



.section {
    margin: 30px 0;

    &--header {
        margin-top: 0;
        text-align: center;

        @include md {
            text-align: left;
        }

        .section__title {
            font-size: 28px;

            @include sm {
                font-size: 36px;
            }
        }
    }

    &__title {
        font-size: 26px;

        @include sm {
            font-size: 30x;
        }

        .section--header & {
            border-bottom: $border;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }

    &__description {
        color: rgba($dark, .6);
    }

    &__subtitle {
        color: $gray;
        margin-top: 0;
    }
}

.slide {
    background: {
        position: center;
        size: cover;
    }
    color: #fff;
    height: 100%;
    position: relative;

    @include md {
        height: 100%;
    }

    h3 {
        font-size: 32px;
        font-weight: 300;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

pre[class*=language-] {
    border-radius: 0;
    max-height: 100%;
    overflow-y: auto;

    @include lg {
        height: 100%;
    }
}

.code {
    &__title {
        text-transform: uppercase;
    }

    &__content {
        font-size: 13px;
    }
}

.site-footer {
    font-size: 12px;
    margin: 30px 0;
    text-align: center;
}

.copyright {
    border-top: $border;
    margin-bottom: 5px;
    padding-top: 30px;

    @include sm {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    span {
        display: block;
    }

    > iframe {
        margin-top: 5px;

        @include sm {
            margin: 0 0 0 7px;
        }
    }

    strong {
        margin-left: 2px;
    }
}

/*=====  End of GENERAL  ======*/